<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule"
                scriptProcessor="C:\Users\1705w\AppData\Local\Programs\Python\Python313\python.exe|C:\Users\1705w\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <appSettings>
            <add key="PYTHONPATH" value="C:\Users\1705w\OneDrive\Desktop\tableau"/>

            <add key="WSGI_HANDLER" value="app.app"/>

            <add key="WSGI_LOG" value="C:\Users\1705w\OneDrive\Desktop\tableau\wfastcgi.log"/>
        </appSettings>
    </system.webServer>
</configuration>